hr {
  border-top: 1px solid #d9d9d9;
  display: block;
  margin: 3em auto;
  width: 25%;
}

.main-image-home {
  margin: 35px auto;
  width: 90%;
  height: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: 120% 10%;
	background-image: asset_url(picture-home);
}

.cover-letter {
  p {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.intro {
  margin: -0.75em auto 1.25em auto;
  padding: 0;
  max-width: 100% !important;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

@media screen and (max-width : 1024px) {
  .intro {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width : 450px) {
	h2.title {
		margin-top: 0px;
	}
}
