.big-title {
	font-size: 44px;
	font-weight: bold;
	color: #283C46;
	margin-top: 40px;
}
.subtitle {
	font-size: 26px;
	margin: 0px 20px 40px 20px;
	max-width: none;
}

.title-sections {
	font-size: 26px;
	font-weight: bold;
	max-width: 630px;
	margin: 22px auto 11px auto;
}