<nav class="global-nav" id="footer">
  <div class="nav-link">
      <%= link_to "Home", root_path, class: "hidden-xs nav-marged-right underlined" %>
      <%= link_to "How I work", root_path, class: "underlined" %>
  </div>
  <div class="nav-link">
    <%= link_to "Play GAME!", root_path, class: "button-nav button-primary" %>
  </div>
</nav>

<script src="/assets/footer.js"></script>