<nav class="global-nav">
  <div class="nav-link">
      <%= link_to "Home", root_path%>
  </div>
  <div id='nav-padded-top'>
    <%= link_to "", root_path, class: "global-nav-logo" %>
    <p class="global-nav-tagline">2017 is the year to work together</p>
  </div>
  <div class="nav-link">
    <%= link_to "Play the GAME!", root_path, class: "button-nav button-primary" %>
  </div>
</nav>