<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<%= image_tag "text-picture-home", class: "main-image-home" %>
			<hr>
			<div class="background-wistia">
				<script src="//fast.wistia.com/embed/medias/6dy4whpi84.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_6dy4whpi84 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<h2 class="text-center title">Thoughts From Our Applicant</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis. Soluta placeat quidem magni necessitatibus repudiandae aut nemo totam, itaque dicta fuga, dolores excepturi dolorum accusantium, eos corporis, autem tenetur.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis. Soluta placeat quidem magni necessitatibus repudiandae aut nemo totam, itaque dicta fuga, dolores excepturi dolorum accusantium, eos corporis, autem tenetur.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis. Soluta placeat quidem magni necessitatibus repudiandae aut nemo totam, itaque dicta fuga, dolores excepturi dolorum accusantium, eos corporis, autem tenetur.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis. Soluta placeat quidem magni necessitatibus repudiandae aut nemo totam, itaque dicta fuga, dolores excepturi dolorum accusantium, eos corporis, autem tenetur.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis. Soluta placeat quidem magni necessitatibus repudiandae aut nemo totam, itaque dicta fuga, dolores excepturi dolorum accusantium, eos corporis, autem tenetur.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, omnis. Soluta placeat quidem magni necessitatibus repudiandae aut nemo totam, itaque dicta fuga, dolores excepturi dolorum accusantium, eos corporis, autem tenetur.</p>
		</div>
	</div>
</div>


