<% content_for :title, "Damien for Basecamp: how I work" %>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<div class="text-center">
		 		<h1 class="big-title">Here's how I work</h1>
		 		<p class="subtitle">I am a product oriented rails addict. I am also a digital nomad. I love <em>your company</em> and know I can bring a <em>special spirit</em> to the team.</p>
		 	</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="border-images">
				<script src="//fast.wistia.com/embed/medias/6dy4whpi84.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_6dy4whpi84 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
			</div>
			<hr>
			<p class="marged-bottom">
			I am really new to web development. I developed my first rails application last August, at the end of <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a> (the bootcamp I did). In 6 months, I had the opportunities to work on several projects.</br>
			<strong>Here are 2 of them:</strong></p>
			<div class="border-images">
				<%= link_to image_tag("super-festival.png", class: "fit-in-div"), "http://www.superfestival.fr/", target: "_blank" %>
			</div>
			<p class="marged-bottom marged-top">Super Festival is the app I built in <strong>9 days</strong> with 3 friends at the end of Le Wagon. The goal: help you prepare your music festival to <strong>optimize your experience</strong>. You can discover artists, create your timetable, export an Ical file of your concerts or create your custom Spotify playlist. It was my <strong>first</strong> real rails application. We will refactor it in the next weeks and <strong>officially launch it</strong> for the festivals of this summer.</p>
			<div class="border-images">
				<%= link_to image_tag("chaud-patate.png", class: "fit-in-div"), "https://www.chaudpatate.org/", target: "_blank" %>
			</div>
			<p class="marged-bottom marged-top">ChaudPatate was my <strong>really first</strong> client project. I did all the back-end in <strong>8 days</strong> (I got some help for the front-end). ChaudPatate helps startup employees run and network together. The app was built to allow the founder to manage <strong>every part of his business</strong> easily. Before it, everything was done by hand. Not anymore!</p>
			<hr>
			<p class="marged-bottom marged-top">These were just some of my projects. I am currently building a <strong>custom Shopify App</strong> (an app which connects to a Shopify store and helps manage areas of the business) for an <strong>funded e-commerce</strong> startup in France. It is a <strong>big challenge</strong> (unfortunately, the app is private...). I have also been a teacher assistant at Le Wagon and will do my <strong>first class as a teacher</strong> next week! So much to do and to learn, I am really excited !!</p>
			<div class="text-center">
				<a href="https://github.com/damienlethiec", class="button-primary button-nav">Take a look at my Github</a>
			</div>
			<hr>
			<h2 class="title text-center">Damien because...</h2>
			<% @arguments.each do |argument| %>
				<%= render 'argument-show', argument: argument %>
			<% end %>
		</div>
	</div>
</div>