/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings

.title {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #283C46;
}

.bold {
	font-weight: bold;
}

.background-text {
	background-color: $yellow;
	font-weight: bold;
}

.fit-in-div {
	width: 100%;
	height: 100%;
}

#no-margin-top {
	margin-top: 0px;
}

.marged-bottom {
	margin-bottom: 40px;
}

.marged-top {
	margin-top: 40px;
}

p {
	font-family: 'Raleway';
	max-width: 630px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 17px;
  padding: 0 5px;
}

.background-basecamp {
	background: $beige asset_url(background-basecamp) center 12rem repeat-y;
	background-size: 200%, 100rem;
}
