/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings

.title {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #283C46;
}

#no-margin-top {
	margin-top: 0px;
}

p {
	font-family: 'Raleway';
	font-size: 17px;
	line-height: 1.5;
	letter-spacing: 1px;
	max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 0 5px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.background-basecamp {
	background: $beige asset_url(background-basecamp) center 12rem repeat-y;
	background-size: 200%, 100rem;
}
