.global-nav {
	position: relative;
  background-color: $green;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .link-in-nav {
	  color: white;
	  font-weight: bold;
	  font-size: 16px;
    cursor: auto;
		&:hover {
			color: #283c46;
		}
  }
	.nav-link:first-child {
		position: absolute;
		left: 30px;
	}
	.nav-link:last-child {
		position: absolute;
		right: 20px;
	}
  .global-nav-tagline {
  	text-align: center;
  	font-weight: bold;
  	font-family: 'Lemonada', cursive;
  	font-size: 13px;
  	margin-top: 5px;
  }
}
.underlined {
	text-decoration: underline;
}

.global-nav-logo {
	margin: 0 auto;
	height: 85px;
	width: 125px;
	display: block;
	background: asset_url(logo-basecamp);
	background-size: 100%;
	transition: all 0.1s ease-in-out;
	&:hover {
		transform: scale(1.1, 1.1);
	}
}

#nav-marged-top {
	margin-top: 80px;
}

.nav-marged-right {
	margin-right: 10px;
}

.nav-marged-bottom {
	margin-bottom: 70px;
}